.skills-bg-container {
  padding-top: 10px;
}

.skills-title {
  font-family: "Roboto";
  font-size: 25px;
  color: #000000;
  margin-top: 100px;
}

.skills-logos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}

.skill-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  margin-bottom: 20px;
}

.logo {
  height: 110px;
  width: 100px;
  border-radius: 10px;
}

.bootstrap-logo {
  height: 110px;
  width: 125px;
}

.javascript-logo {
  width: 200px;
}

.reactJs-logo {
  width: 110px;
}

.sql-logo {
  width: 80px;
}

.skill-name {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
